<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="website icon" type="image/png" href="{{url_for('static', filename='img/youCloneLogo.png')}}">
</head>
<body>
    <nav class="navbar" id="navbar">
        <h1>YouClone</h1>
        <ul>
            <li class="navLink" id="navLink"><a href="/">Home</a></li>
            <li class="navLink" id="navLink"><a href="/upload">Upload Video</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>